{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <h1>Password Manager</h1>
    <form method="post">
      {% csrf_token %}
      <div class="form-group">
        <label for="current_password">Current Password</label>
        <input type="password" class="form-control" id="current_password" name="current_password">
      </div>
      <div class="form-group">
        <label for="new_password">New Password</label>
        <input type="password" class="form-control" id="new_password" name="new_password">
      </div>
      <div class="form-group">
        <label for="verify_new_password">Verify New Password</label>
        <input type="password" class="form-control" id="verify_new_password" name="verify_new_password">
      </div>
      <button type="submit" class="btn btn-primary">Change Password</button>
      {% if messages %}
      <ul>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %}
    </form>
    
    
  </div>
{% endblock %}